[user]
  name = Angelo Failla
  email = pallotron@fb.com
[color]
  diff = auto
[merge]
  tool = vimdiff
[core]
  editor = vim
[diff]
  tool = vimdiff
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
